@import "tailwindcss";
@import 'lenis/dist/lenis.css';


@layer utilities {
  .bg-grain {
    position: relative;
  }

  .bg-grain::after {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    /* Menggunakan noise SVG yang sangat ringan */
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.65' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
    opacity: 0.08; /* Sesuaikan kepekatan grain di sini (0.05 - 0.1 recommended) */
    pointer-events: none;
    z-index: 5;
    animation: grain-animation 1s steps(10) infinite;
  }

  @keyframes grain-animation {
    0%, 100% { transform: translate(0, 0); }
    10% { transform: translate(-5%, -10%); }
    30% { transform: translate(3%, -15%); }
    50% { transform: translate(12%, 9%); }
    70% { transform: translate(-9%, 4%); }
    90% { transform: translate(2%, 11%); }
  }
}


/* Futura - Regular */
@font-face {
  font-family: "Caslon";
  src: url("/fonts/Adobe-Caslon-Pro-Italic.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

/* Futura - Regular */
@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Regular.ttf") format("truetype");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* Futura - Medium */
@font-face {
  font-family: "Futura";
  src: url("/fonts/Futura-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

/* Futura Fallback */
@font-face {
  font-family: "FuturaFallback";
  src: local("Arial");
  ascent-override: 83.23%;
  descent-override: 17.65%;
  line-gap-override: 20.18%;
  size-adjust: 99.13%;
}

.futura-font {
  font-family: "Futura", "FuturaFallback", sans-serif;
}

.caslon-font {
  font-family: "Caslon", "Caslon", sans-serif;
}

:root {
  --font-futura: "Futura", "FuturaFallback", sans-serif;
}


/* Walbaum - Regular */
@font-face {
  font-family: "Walbaum";
  src: url("/fonts/Walbaum-Regular.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: normal;
}

/* Walbaum - Italic */
@font-face {
  font-family: "WalbaumFallback";
  src: url("/fonts/Walbaum-Italic.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}

/* Walbaum Fallback */
@font-face {
  font-family: "WalbaumFallback";
  src: local("Arial");
  ascent-override: 116.30%;
  descent-override: 28.50%;
  line-gap-override: 0.00%;
  size-adjust: 100.00%;
}

.walbaum-font {
  font-family: "Walbaum", "WalbaumFallback", serif;
}

:root {
  --font-walbaum: "Walbaum", "WalbaumFallback", serif;
  --background: #000000;
  /* --foreground: #171717; */
  --vh: 7.25px;
  --md-font-size: clamp(3.3203rem, 4.4271vi, 5.3125rem);
  --sm-font-size: clamp(2.6563rem, 3.5417vi, 4.25rem);
  --font-size: clamp(2.1094rem, 2.8125vi, 3.375rem);
}


.font-sans {
    font-family: var(--font-futura), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.font-serif {
    font-family: var(--font-walbaum), ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Spacing */
  --spacing-0: 0;
  --spacing-20: 1.2500rem;
  --spacing-34: 2.1250rem;
  --spacing-40: 2.5000rem;
  --spacing-60: 3.7500rem;
  --round-bg: 1.5000rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Font Size */
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

#__next {
    position: relative;
    width: 100%;
    pointer-events: none;
    height: 100%
}

.\!lenis.lenis-stopped {
    overflow: hidden!important
}

.lenis.lenis-stopped {
    overflow: hidden
}

.\!lenis.lenis-smooth {
    scroll-behavior: auto!important
}

.lenis.lenis-smooth {
    scroll-behavior: auto
}

.\!lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain!important;
    overflow: scroll!important
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
    overflow: scroll
}

#wrap-page>div::-webkit-scrollbar {
    display: none
}

#wrap-page>div:focus,#wrap-page>div:hover {
    visibility: visible
}

#wrap-page>div {
    /* height: calc(var(--vh) * 100); */
    -ms-overflow-style: none;
    scrollbar-width: none
}

#wrap-page>div>div {
    visibility: visible
}


.py-35 {
    padding-top: 2.1875rem;
    padding-bottom: 2.1875rem
}

.h-120 {
    height: 7.5rem
}

.h-18 {
  height: 1.125rem;
}

.h-44 {
    height: 2.75rem
}

.px-10 {
    padding-left: .625rem;
    padding-right: .625rem
}

.px-12 {
  padding-left: .75rem;
  padding-right: .75rem;
}

.gap-x-8 {
    -moz-column-gap: .5rem;
    column-gap: .5rem
}

.gap-x-4 {
    -moz-column-gap: .25rem;
    column-gap: .25rem;
}

.w-1 {
    width: .0625rem;
}

.text-12 {
  font-size: 12px;
}

.rounded-12 {
  border-radius: .75rem;
}

.text-78 {
    font-size: 4.875rem;
}

.min-h-100svh {
    min-height: 100vh;
    min-height: 100svh;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}



.text-balance {
    text-wrap: balance;
}

.leading-none {
  line-height: 1;
}

.text-40 {
    font-size: 2.5rem;
}

.space-y-custom>*~* {
    margin-top: var(--mt);
}

.inline-flex {
    display: inline-flex;
}

.h-16 {
    height: 1rem;
}

.not-italic {
    font-style: normal;
}

.gap-y-25 {
    row-gap: 1.5625rem;
}

.gap-x-80 {
    -moz-column-gap: 5rem;
    column-gap: 5rem;
}

.rounded-12 {
    border-radius: .75rem;
}


@media not all and (min-width: 900px) {
    .max-md\:pr-4 {
        padding-right: .25rem;
    }
}
@media not all and (min-width: 900px) {
    .max-md\:rounded-12 {
        border-radius: .75rem;
    }
}

@media not all and (min-width: 900px) {
    .max-md\:h-44 {
        height: 2.75rem;
    }
}

.text-11 {
    font-size: .6875rem;
}

.rounded-16 {
    border-radius: 1rem;
}

.gap-x-16 {
    -moz-column-gap: 1rem;
    column-gap: 1rem;
}

.h-48 {
    height: 3rem;
}

.pr-20 {
    padding-right: 1.25rem;
}
.pl-4 {
    padding-left: .25rem;
}
.py-4 {
    padding-top: .25rem;
    padding-bottom: .25rem;
}

.bottom-52 {
    bottom: 3.25rem;
}

.bottom-62 {
    bottom: 11.25rem;
}

.bottom-30 {
    bottom: 1.875rem;
}

.min-h-100svh {
    min-height: 100vh;
    min-height: 100svh;
}

.h-100svh {
    height: 100vh;
    height: 100svh;
}

.pb-120 {
    padding-bottom: 7.5rem;
}

.pt-7 {
    padding-top: .4375rem;
}
.pb-5 {
    padding-bottom: .3125rem;
}
.px-17 {
    padding-left: 1.0625rem;
    padding-right: 1.0625rem;
}

.rounded-30 {
    border-radius: 1.875rem;
}

.p-4 {
    padding: .25rem;
}

.rounded-18 {
    border-radius: 1.125rem;
}

.gap-x-2 {
    -moz-column-gap: .125rem;
    column-gap: .125rem;
}

.min-h-100dvh {
    min-height: 100vh;
    min-height: 100dvh;
}

.pt-107 {
    padding-top: 6.6875rem;
}

.mb-screen {
  margin-top: 100dvh;
}


.px-16 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.h-140svh {
    height: 140vh;
    height: 140svh;
}

.h-300svh {
    height: 300vh;
    height: 300svh;
}

.text-54 {
    font-size: 3.375rem;
}

.mb-34 {
    margin-bottom: 2.125rem;
}

.text-22 {
    font-size: 1.375rem;
}

.h-56 {
    height: 3.5rem;
}

.z-header {
  z-index: 1000;
}

.text-10 {
 font-size: .625rem;
}

.mb-10 {
    margin-bottom: .625rem;
}

.text-24 {
    font-size: 1.5rem;
}

.rounded-16 {
    border-radius: 1rem;
}

.gradient-wrapper {
  max-width: 100vw;
}

.gradient-home-cover-top-left {
  width: 800px;
  height: 500px;
  background: linear-gradient(180deg, #f8a8a8 -.14%, #75858b);
  filter: blur(100px);
  border-radius: 50%;
  left: -20rem;
  top: -12.5rem;
  position: absolute;
  z-index: -1;
  animation: floatCoverTopLeft 7.5s ease-in-out infinite;
}

.gradient-home-cover-right {
  width: 900px;
  height: 275px;
  background: linear-gradient(180deg, #df5877 -.14%, #76b3ca);
  filter: blur(130px);
  right: -15rem;
  bottom: 0;
  position: absolute;
  z-index: -1;
  animation: floatCoverRight 5s ease-in-out infinite;
}

.gradient-home-cover-middle {
    width: 500px;
    height: 400px;
    background: linear-gradient(180deg, #afa491 -.14%, #031921);
    filter: blur(130px);
    right: 5rem;
    bottom: -2.5rem;
    position: absolute;
    z-index: -2;
    animation: floatCoverRight 10s ease-in-out infinite;
}

.gradient-home-cover-center {
  /* display: none; */
  z-index: -10;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #272725 -.14%, #031921);
  opacity: .6;
  filter: blur(214px);
  transform: rotate(149.13deg);
  z-index: 0;
  animation: float 7.5s ease-in-out infinite;
}

@keyframes floatCoverTopLeft {
  0% {
    opacity: .75;
    transform: rotate(-37.5deg) translate3d(0, 10%, 0);
  }
  50% {
    opacity: 1;
    transform: rotate(-27.5deg) translate3d(0, -10%, 0);
  }
  100% {
    opacity: .75;
    transform: rotate(-37.5deg) translate3d(0, 10%, 0);
  }
}

@keyframes floatCoverRight {
  0% {
    opacity: .6;
    transform: rotate(-37.5deg) translate3d(0, 10%, 0);
  }
  50% {
      opacity: .8;
      transform: rotate(-27.5deg) translate3d(0, -10%, 0);
  }
  100% {
      opacity: .6;
      transform: rotate(-37.5deg) translate3d(0, 10%, 0);
  }
}

@keyframes float {
  0% {
    transform: translate3d(0, 5%, 0);
  }
  50% {
      transform: translate3d(0, -5%, 0);
  }
  100% {
      transform: translate3d(0, 5%, 0);
  }
}

.bg-img {
  z-index: -10;
  bottom: -50svh;
}

.card-mandiri {
  height: 5rem;
}

.min-h-50svh {
  min-height: 50svh;
}

@keyframes marquee-vertical {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.animate-marquee-vertical {
  animation: marquee-vertical 20s linear infinite;
}

.animate-marquee-vertical:hover {
  animation-play-state: paused; /* Animasi berhenti saat hover */
}

@keyframes wave {
  0%, 100% {
    height: 0.5rem;
  }
  50% {
    height: 1rem;
  }
}

.sound-wave {
  opacity: 1;
}

.sound-wave span {
  animation: wave 1s infinite ease-in-out;
}

.sound-wave span:nth-child(1) { animation-delay: 0s; }
.sound-wave span:nth-child(2) { animation-delay: 0.2s; }
.sound-wave span:nth-child(3) { animation-delay: 0.1s; }
.sound-wave span:nth-child(4) { animation-delay: 0.4s; }
.sound-wave span:nth-child(5) { animation-delay: 0.3s; }


/* IMAGE BACKGROUND IG STYLE */

.image-item::before {
  background-position: 100%;
  background-size: cover;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 2;
}